.chessplane{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
	width: 804px;
	height: 804px;
	border: 2px solid black;
}

.chessplane li{
	border: 2px solid black;
	background-color: blueviolet;
	height: 100px;
	width: 100px; 
}

.header{
	text-align: center;
	margin: 20px auto;
	width: 100%;
}

.wholeWindow{
	height: 1000px;
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid black;
	margin: 10px auto;
	align-content: center;
	justify-content: space-around;
	/* float: top; */
}